services:
  jira-shame:
    build: .
    ports:
      - "1337:3000"
    environment:
      - JIRA_HOST=${JIRA_HOST}
      - JIRA_EMAIL=${JIRA_EMAIL}
      - JIRA_API_TOKEN=${JIRA_API_TOKEN}
      - BOARD_ID=${JIRA_BOARD_ID}
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - GITHUB_ORG=${GITHUB_ORG}
    restart: unless-stopped
